@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Lato";
  color: #333;
}

.App {
  align-content: center;
}

/* CSS for the Navigation Bar */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links ul {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.navbar .links ul li {
  list-style-type: none;
}

.navbar .links ul li a {
  text-decoration: none;
  transition-duration: 100ms;
}

.navbar .links ul li a:hover {
  color: #368b6f;
}

/* CSS for the home page */

.home {
  padding: 20px;
  max-width: 60%;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  align-items: center;
}

.home .items {
  padding: auto;
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: center;
  justify-content: space-between;
}

.home .items h1 {
  font-size: 50px;
}

.home .items button {
  background-color: #368b6f;
  padding: 20px 70px;
  border: none;
  border-radius: 30px;
  font-size: large;
  font: bold;
}